@font-face {
    font-family: 'Yellow Ginger';
    src: url('fonts/YellowGinger.woff2') format('woff2'),
        url('fonts/YellowGinger.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sherly Kitchen';
    src: url('fonts/SherlyKitchen-Regular.woff2') format('woff2'),
        url('fonts/SherlyKitchen-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Royale Smith Demo';
    src: url('fonts/RoyaleSmithDemoRegular.woff2') format('woff2'),
        url('fonts/RoyaleSmithDemoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --text-color: #976c00;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: 
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
        url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   

    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
}

button {
    font-family: 'Sherly Kitchen';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

header h1 {
    color: var(--text-color);
    font-family: 'Royale Smith Demo';
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navbar button {
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    background-color: #ede3d3;
    cursor: pointer;
    width: 5rem;
}

.navbar button:hover {
    background-color: #8a6300;
}

.logo {
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    border: 1px solid #8a6300;
}

footer button {
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid #976c00;
    background-color: #ede3d3;
    cursor: pointer;
}

footer button:hover{
    background-color: #976c00;

}

footer {
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    font-family: 'Sherly Kitchen';
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

footer p {
    margin: 0;
}

.info p:first-of-type {
    font-size: 0.8rem;
}

.info p:nth-of-type(2) {
    font-weight: bold;
    font-size: 1.5rem;
}

.address p {
    font-weight: bold;
    font-size: 1.2rem;
}

.contact p {
    font-weight: bold;
}

.homeContainer {
    display: flex;
    flex-direction: column;
}

.welcome {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding-bottom: 3rem;
    font-family: 'Yellow Ginger';
}

.welcome p {
    font-size: 1.8rem;
}

.welcome h3 {
    font-size: 1rem;

}

.welcome button {
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    background-color: #976c00;
    color: white;
    width: 15%;

}

.welcome button:hover {
    background-color: #8a6300;
}

.story {
    background-color: #ede3d3;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 5rem 4rem;
    font-family: 'Sherly Kitchen';
}

.story h3,
.story p {
    color: #3b2f2f;
}

.welcome h3,
.welcome p {
    color: var(--text-color);
}

.story p {
    font-size: 1.2rem;
    line-height: 2.5;
    font-weight: bold;
}

.story button {
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid #976c00;
    background-color: #ede3d3;
    cursor: pointer;
}


.text {
    max-width: 500px;
}

.food-image-container {
    display: flex;
    justify-content: center;
}

.food-image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

hr {
    border: none;
    height: 2px;
    background-color: #ccc;
    width: 10%;
    background-color: #976c00;
}

.story button:hover{
    background-color: #976c00;

}

/* about */
.about-container {
    background-color: #ede3d3;
    width: 70%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 5rem 7rem 5rem;
    border-radius: 1rem;

    font-family: 'Sherly Kitchen';
}

.about-welcome {
    font-size: 1.2rem;
}

.about-description p {
    font-size: 1.2rem;
}

.about-text {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.about-description,
.about-image-container {
    flex: 1;
}

.chef-image {
    height: 300px;
    width: 300px;
    border-radius: 1rem;
}

/* menu */
.menu-container {
    background-color: #3b2f2f;
    width: 70%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 5rem 7rem 5rem;
    border-radius: 1rem;
    color: white;
    font-family: 'Yellow Ginger';
}

.menu-item-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.main-dishes,
.sides,
.beverages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 2rem;
}

.main-dishes h2,
.sides h2,
.beverages h2 {
    grid-column: 1 / -1;
}

.dish-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    padding: 1.5rem;
    width: 300px;
    min-height: 220px;
    border-radius: 1rem;
  
    background-color: #2c1f1f;
}

.dish-card:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    transform: translateY(-4px);
}

.dish-card div {
    flex: 1;
}

.description {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.description h3 {
    margin: 0 0 0 0.5rem 0;
}

.description p:first-of-type {
    flex: 1;
    margin: 0;
    line-height: 1.5;
}

.description p:last-of-type {
    margin-top: 1rem;
    font-weight: bold;
}


